PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE students (
      id INTEGER PRIMARY KEY AUTOINCREMENT,
      name TEXT NOT NULL,
      phone TEXT,
      parentName TEXT,
      parentPhone TEXT,
      createdAt DATETIME DEFAULT CURRENT_TIMESTAMP
    );
INSERT INTO students VALUES(1,'V├╡ Ngß╗ìc Minh Hß║▒ng','','V├╡ V─ân Hiß╗ün','0945995214','2026-07-22 12:20:59');
INSERT INTO students VALUES(2,'Huß╗│nh Minh Qu├ón','','Huß╗│nh Kim C╞░╞íng','0777465050','2026-08-30 02:52:12');
INSERT INTO students VALUES(3,'Hß╗ô Nguyß╗àn Minh Th╞░','','Nguyß╗àn Thß╗ï B├¡ch Tr├óm','0901175843','2026-08-30 10:13:02');
CREATE TABLE classes (
      id INTEGER PRIMARY KEY AUTOINCREMENT,
      name TEXT NOT NULL,
      teacher TEXT,
      schedule TEXT,
      room TEXT,
      capacity INTEGER
    , ta TEXT);
INSERT INTO classes VALUES(1,'KID 2','Phan ─É├¼nh Ph├ít','Thß╗⌐ 2 (17:15 - 19:15), Chß╗º nhß║¡t (07:00 - 09:00)','2',15,'Trß║ºn Ph╞░╞íng Nhi');
INSERT INTO classes VALUES(2,'KID 1','Trß║ºn Thß╗ï Ph╞░╞íng Nhi','Thß╗⌐ 3 (17:15 - 19:15), Thß╗⌐ 6 (17:15 - 19:15)','1',10,'Phan Thß╗ï Hß╗ông Quß╗│nh');
INSERT INTO classes VALUES(3,'KID 3','Phan Thß╗ï Hß╗ông Quß╗│nh','Chß╗º nhß║¡t (09:00 - 11:00), Thß╗⌐ 5 (17:15 - 19:15)','1',10,'Trß║ºn Thß╗ï Ph╞░╞íng Nhi');
CREATE TABLE class_students (
      id INTEGER PRIMARY KEY AUTOINCREMENT,
      class_id INTEGER,
      student_id INTEGER,
      enrolledAt DATETIME DEFAULT CURRENT_TIMESTAMP,
      FOREIGN KEY (class_id) REFERENCES classes(id),
      FOREIGN KEY (student_id) REFERENCES students(id),
      UNIQUE(class_id, student_id)
    );
INSERT INTO class_students VALUES(1,1,1,'2026-07-22 12:27:46');
INSERT INTO class_students VALUES(2,4,2,'2026-08-30 02:52:24');
INSERT INTO class_students VALUES(3,1,15,'2026-09-01 07:33:37');
CREATE TABLE attendance (
      id INTEGER PRIMARY KEY AUTOINCREMENT,
      class_id INTEGER,
      student_id INTEGER,
      date TEXT,
      status TEXT,
      FOREIGN KEY (class_id) REFERENCES classes(id),
      FOREIGN KEY (student_id) REFERENCES students(id),
      UNIQUE(class_id, student_id, date)
    );
INSERT INTO attendance VALUES(1,1,1,'2026-07-22','present');
INSERT INTO attendance VALUES(6,1,1,'2026-08-30','present');
INSERT INTO attendance VALUES(10,4,2,'2026-08-30','absent');
CREATE TABLE invoices (
      id INTEGER PRIMARY KEY AUTOINCREMENT,
      invoice_code TEXT UNIQUE,
      student_id INTEGER,
      amount INTEGER,
      status TEXT,
      createdAt DATETIME DEFAULT CURRENT_TIMESTAMP,
      FOREIGN KEY (student_id) REFERENCES students(id)
    );
INSERT INTO invoices VALUES(1,'INV-2026-2551',1,400000,'pending','2026-07-22 12:28:04');
INSERT INTO invoices VALUES(2,'INV-2026-3253',1,2000000,'pending','2026-07-22 13:00:58');
INSERT INTO invoices VALUES(3,'INV-2026-1214',1,100000,'paid','2026-07-22 13:17:10');
CREATE TABLE teachers (
      id INTEGER PRIMARY KEY AUTOINCREMENT,
      name TEXT NOT NULL,
      role INTEGER NOT NULL,
      phone TEXT,
      createdAt DATETIME DEFAULT CURRENT_TIMESTAMP
    );
INSERT INTO teachers VALUES(1,'Phan ─É├¼nh Ph├ít',1,'0392082052','2026-08-30 01:30:33');
INSERT INTO teachers VALUES(2,'Trß║ºn Thß╗ï Ph╞░╞íng Nhi',1,'0966207605','2026-08-30 01:30:42');
INSERT INTO teachers VALUES(3,'─Éß║╖ng Ho├áng Ngh─⌐a',1,'1234567890','2026-08-30 01:30:49');
CREATE TABLE teacher_attendance (
      id INTEGER PRIMARY KEY AUTOINCREMENT,
      class_id INTEGER,
      teacher_name TEXT,
      role TEXT,
      date TEXT,
      status TEXT,
      FOREIGN KEY (class_id) REFERENCES classes(id),
      UNIQUE(class_id, role, date)
    );
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('classes',8);
INSERT INTO sqlite_sequence VALUES('students',35);
INSERT INTO sqlite_sequence VALUES('class_students',60);
COMMIT;
